---
export interface Props {
  image?: string
  titre: string
  texte: string
}
const { image, titre, texte } = Astro.props;
---
<div class="bloc-image-texte text-center mb-4">
  {image && <img src={image} alt={titre} class="bloc-img mb-2" />}
  <h4 class="bloc-titre">{titre}</h4>
  <p class="bloc-texte">{texte}</p>
</div> 