---
import Header from '../components/Header.astro';
import HeroBanner from '../components/HeroBanner.astro';
import ValuesCard from '../components/ValuesCard.astro';
import LocalDiscount from '../components/LocalDiscount.astro';
import HumanShop from '../components/HumanShop.astro';
import Partners from '../components/Partners.astro';
import Footer from '../components/Footer.astro';  

---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Nouvoulook - Accueil</title>
  </head>


  <body>
	  <Header />
	  <HeroBanner />
    <ValuesCard />
    <LocalDiscount />
    <HumanShop />
    <Partners />
    <Footer />
  </body>

  <style>
	/* Font appliquée sur l'ensemble de la page */
	body {
		font-family: sans-serif;
	}
  </style>
</html> 